.navi {
	position: fixed;
	top: 0;
	width: 100%;
	height: 95px;
	background-color: #3D3B3C;
}

	h1 {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
		padding-left: 20px;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		color: #fff;
	}		

#sketchPad{
	width: 402px;
	height: 462px;
	margin-top: 120px;
	margin-left: auto ;
	margin-right: auto ;
	background-image: url("../img/sketch-pad.png");
	background-repeat: no-repeat;
}

	#grid{
		padding-top: 26px;
	    width:352px;
	    height:352px;
	    margin-left: auto ;
		margin-right: auto ;
	    z-index: 999;   
	}  

		.box {
			width: 22px;
			height: 22px;
			background-color: #fff;
			float: left;			
		}

		.color {
			background: #43AA8B
		}